<center>
<h1> You Added A Movie </h1>
<table border="1">
	<tr>
		<th>Movie Name</th>
		<th>Date Of Release</th>
		<th>Description</th>
	</tr>
	<tr>
		<td><%= @movie.name %></td>
		<td><%= @movie.release_date.strftime("%d/%m/%Y") %></td>
		<td><%= @movie.description %></td>
	</tr>
</table>
<br>
<%= link_to 'Back', movies_path %>
&nbsp; &nbsp;
<%= link_to 'Add Actor To This Movie', new_actor_path(movie_id: @movie) %> 
<br><br>
<strong>Actor(s) In This Movie Are</strong>
<% @actors.each do |actor| %>
		<ul><%= actor.name %></ul>
	<% end %>
</center>